<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Categories</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Slug</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                <% categories.forEach(category => {  %>
                    <tr>
                        <th><%- category.id %></th>
                        <th><%- category.title %></th>
                        <th><%- category.slug %></th>
                        <th>
                            <button class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></button>
                            <button class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
                        </th>
                    </tr>
                <% })%>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>